[include]
    path = ~/.gitconfig.local
[user]
	name = steven gonsalvez
	email = steven.gonsalvez@gmail.com
	signingkey = CD2DD30EB030C243
[http]
[https]
[core]
	excludesfile = /Users/b8886963/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	last = log -1 HEAD
	ac = !git add -A && git commit
	add-commit = !git add -A && git commit
	ca = !git add -A && git commit
        ahead-of-master = log --oneline origin/master..HEAD
        fetch-pull-requests = fetch origin '+refs/pull/*/head:refs/remotes/origin/pull/*'
        roots = log --all --oneline --decorate --max-parents=0
        unpushed = log @{u}..
        work-in-progress = rebase -i @{u}
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
[url "https://github.com/"]
	insteadOf = git://github.com/%